

@{
    ViewData["Title"] = "Search page";

    
}

<h1>Search or select a student to add notes</h1>
<hr />
<br />
<h4>Search</h4>
<hr />
<br />
<div class="row text-center">
    <div class="col-md-12">
        <form>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label for="name" class="control-label font-weight-bold font-italic" >Enter a name or a key word to look up</label>
                    </div>
                    <div class="col-md-6">
                        <input id="student" name="name" class="form-control" />
                    </div>
                </div>

            </div>
            <br />
            <div class="row text-center">
                <div class="col-md-12">
                    <div class="form-group">
                        <input type="button" id="getStudent" value="Search" class="btn btn-primary" />
                        <h2 style="color:red">  @ViewBag.errorMessage</h2>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>


<br />
<br />

@model IEnumerable<NotesSystem.Models.Student>
<hr />
@if (Model.Count() > 0)
{
<div class="row">
    <div class="col-md-12">
        <table border="1" class="text-center">
            <thead>
                <tr>
                    <th style="min-width:200px">
                        @Html.DisplayNameFor(model => model.name)
                    </th>
                    <th style="min-width:200px">
                        @Html.DisplayNameFor(model => model.age)
                    </th>
                    <th>
                        Actions
                    </th>

                </tr>
            </thead>
            <div id="toUpdate">
                <tbody>
                    @Html.Partial("~/Views/Shared/_StudentTable.cshtml")

                </tbody>
            </div>
        </table>
    </div>
</div>
}
else{
<div>
    <h1>No student was found </h1>
</div>
}

@section scripts{ 
    <script>

    $(function () {
        $("#getStudent").click(function () {
            var student = $("#student").val();
            var url = "@Url.Action("Create","Notes"  )" + "?name=" + student;
            var name = student;
            console.log("i was executed the url is " + url);
            $.post(url).done(function () {
                $("#toUpdate").load("/Notes/CreateTable?name=" + student);
                console.log("i got this far");
            });
        });
    });
    </script>
}
